@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #0b657b;
  --color-secondary: #797917;
  --color-code: #d63384;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}

@layer base {
  /* Components*/
  hr { @apply text-base-content/20 my-6; }
  h1 { @apply text-4xl font-bold; }
  h2 { @apply text-3xl font-semibold; }
  h3 { @apply text-2xl font-semibold; }
  h4 { @apply text-xl font-semibold; }
  h5 { @apply text-lg font-medium; }
  h6 { @apply text-base font-medium; }
  ol { @apply list-decimal ms-3; }
  ul { @apply list-disc ms-3; }
  code {@apply font-sans text-(--color-code)}

}

@layer components {
  /* Classes */
  .link-hash,
  .link-external {
    @apply underline text-primary hover:text-secondary;
  }
  .app-container { @apply py-12 my-12 w-[85%] mx-auto; }
  .app-content { @apply flex flex-col lg:flex-row lg:gap-8; }
  .app-panel { @apply pb-6 w-full lg:flex-1}
  .card-base { @apply card h-full border border-base-300; }
  .card-light { @apply card h-full bg-base-200 border border-base-300 shadow-sm dark:border-none; }
  .card-header { @apply card-title flex flex-col pt-6 justify-center}
  .card-icon { @apply text-6xl }
  .icon-list { @apply flex flex-row; }
  .icon-list__icon { @apply ms-3 me-2; }
  .primary-button { @apply btn btn-primary rounded-box text-white shadow-md hover:shadow-none}
  .secondary-button { @apply btn btn-secondary btn-outline rounded-box text-secondary  hover:text-white }
  .input-label { @apply text-sm font-semibold mb-1 }
}
